project:
    name: video-ec-archive
instance:
    name: dev
    runtime: nodejs16
    region: aws.euw1
    application-id: {{VONAGE_APPLICATION_ID}}
    entrypoint:
        - npm 
        - start
debug:
    name: 0
    entrypoint:
        - npm 
        - run
        - debug